{
  "env": {
    "browser": true
  },
	"parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier","plugin:react/recommended"],
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": { 
    "import/prefer-default-export": "off",
    "import/no-default-export": "warning",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": false }],
    "import/resolver": {
      "alias": {
        "map": [
          ["hooks", "./hooks"],
          ["constants", "./src/constants"],
          ["utils", "./src/utils"],
          ["components", "./src/components"],
          ["theme", "./src/theme"],
          ["assets", "./src/assets"]
        ]
      }
    },
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "desc",
          "caseInsensitive": true
        }
      }
    ]
  },
  "plugins": ["prettier", "react"],
  "globals": {
    "PropTypes": false,
    "React": false,
    "ReactDOM": false, 
    "connect": false,
    "useEffect": false ,
    "useState": false,
    "useRef": false,
    "Translate": false,
    "bindActionCreators": false,
    "I18n": false
  },
  "rules": {
    "no-use-before-define": ["error", { "functions": false, "classes": false }],
    "jsx-quotes": ["error", "prefer-double"],
    "react/jsx-curly-spacing": ["error", "never", { "allowMultiline": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": ["error", {
      "endOfLine":"auto"
    }],
    "linebreak-style": 0,
    "react/react-in-jsx-scope": "off",
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "react/jsx-tag-spacing": ["error", {
      
      "closingSlash": "never",
      "beforeSelfClosing": "always",
      "afterOpening": "never"
    }],
    "no-restricted-globals": 0,
		"semi": [2, "always"],
		"prefer-arrow-callback": [ "error", { "allowNamedFunctions": true } ],
		"object-curly-spacing": ["error", "always"],
		"keyword-spacing": ["error", { "before": true }],
		"no-var": "error",
		"no-const-assign": "error"
  }
}
